@charset "utf-8";

/* common */
html,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    font-size:100%;font:inherit;vertical-align:baseline;border:0;margin:0;padding:0;}
body{margin:0;position:relative;height:100%;line-height:1.5;overflow-x:hidden;font-size:16px;font-family:'Noto Sans KR, Regular';color:#1e1e1e;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
html{height:100%;font-size: 16px;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
hr,legend{display:none;}
button{font-family:'Noto Sans KR','Malgun Gothic','dotum',sans-serif;border:none;background:none;cursor:pointer;-webkit-appearance:button;-moz-appearance:button;-ms-appearance:button;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:manipulation;touch-action:manipulation;margin:0;padding:0;outline:none;}
label{cursor:pointer;}
strong{font-weight:700;}
a{text-decoration:none;color:inherit;}
img{width:100%;height:auto;vertical-align:bottom;background-repeat: no-repeat;background-position: center;}
.img{background-repeat: no-repeat;background-position: center;}
input{font-family:'Noto Sans KR','Malgun Gothic','dotum',sans-serif;}
/* input{font-family:'Noto Sans KR','Malgun Gothic','dotum',sans-serif;-webkit-appearance:none;-moz-appearance:none;appearance:none;} */
input:disabled{opacity:1;}
textarea{font-family:'Noto Sans KR','Malgun Gothic','dotum',sans-serif;resize:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.btn{
    border: none;
    border-radius: 7px;
    background-color: #121212;
    background-size: cover;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
}
.btn .google{background-image:url(../mind/assets/googleplay_2x.png);background-size: 125px 48px;width: 115px;height: 43px;background-position: center;margin: auto;}
.btn .apple{background-image:url(../mind/assets/appstore_2x.png);background-size: 144px 48px;width: 122px;height: 43px;background-position: center;margin: auto;}
.pc{display:block;}
.mb{display:none;}

#wrap{width: 100%; height: 100%;}
#header{position:fixed;top:0;left:0;width:100%;height:auto;z-index:10;-webkit-transition:top .3s;-o-transition:top .3s;transition:top .3s;}
#header.topHide{top:-120px;} /* 숨기기용 class */

.content-center {width: 75%; margin: auto;}
h1.section-title {letter-spacing: -0.84px;color: #0C0D0D;font-size: 2.625em;font-weight: 600;width: 100%;text-align: center;margin: 2% 0;}

#footer{width:auto;height:360px;color:#fff;background:#1e1e1e;z-index:9;overflow:hidden;}
#footer .content_wrap{position:relative;width:100%;max-width:1300px;height:auto;margin:0 auto;padding:20px 0;}
#footer .logo{position:absolute;top:100px;left:2.5%;font-family:arial;font-weight:700;font-size:46px;color:#fff;line-height:1.17;}
#footer .footer_info{text-align:left;margin: 35px 0 60px 18%;}
#footer .footer_info li{color:#8E8E8E;line-height:1.88;}
#footer .footer_info p.footer-phone-text{font-size: 20px;}
#footer .footer_info p.footer-phone-number{font-size: 28px;font-weight: bold;}

#container{position:relative;width:auto;min-height:100%;margin:0 0 -350px;}
#container #contents{width:auto;height:auto;padding:38px 0 350px;} /* 비로그인시 헤더 높이 + 100px */
/* #container #contents section {margin-bottom: 240px;} */