@charset "utf-8";

@media screen and (max-width:767px){
    /* common */
    .pc{display:none!important;}
    .mb{display:block!important;}

    /* layout */
    #header{top:0!important;}
    #header .pc{display:none!important;}
    #header .mb{display:block!important;}

    #container{margin:0 0 -600px;}
    #container #contents{padding:100px 0 600px!important;}
    #footer{height:600px;}
    #footer .content_wrap{padding:100px 6.25% 120px;}
    /* #footer .logo{top:100px;left:50%;width:auto;text-align:center;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);} */
    #footer .footer-logo{
        width: 40%;
        margin: auto;
        display: block;
    }
    #footer .footer_link1{margin-top:150px;}
    #footer .footer_link1 li{display:block;margin:48px 0 0;padding:0;}
    #footer .footer_link1 li:first-child{margin-top:0;}
    #footer .footer_link1 li>a{font-size:20px;}
    #footer .footer_sns{position:relative;top:0;right:auto;width:100%;margin-top:50px;}
    #footer .footer_sns li:nth-child(2){margin:0 8%;}
    #footer .footer_info{margin: 8% !important;}
    #footer .footer_info li, #footer .footer_link2 li{font-size:18px;line-height:2;}
}