@charset "utf-8";

/* Slideshow container */
.content01 .slideshow-container {
    position: relative;
    margin: auto;
}
.content01 .slideshow-container .banner1 { background-image: url(./img/banner1.png); }
.content01 .slideshow-container .banner2 { background-image: url(./img/banner2.png); }
.content01 .slideshow-container .banner3 { background-image: url(./img/banner3.png); }
.content01 .slideshow-container .banner4 { background-image: url(./img/banner4.png); }
.content01 .slideshow-container .slides {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 600px;
    margin: auto;
    display: none
}
.content01 .slideshow-container .slides .banner-text-container {
    /* left: calc(100% - 100px); */
    width: 35%;
    margin-left: 14%;
    padding-top: 10%;
}
.content01 .slideshow-container .slides .banner-text-container h1 {
    text-align: left;
    letter-spacing: -1.04px;
    color: #FFFFFF;
    font-size: 52px;
}
.content01 .slideshow-container .slides .banner-text-container p.sub-text {
    text-align: left;
    font-size: 20px;
    letter-spacing: -0.4px;
    color: #D5E1FF;
}
.content01 .slideshow-container .slides .banner-text-container .banner-tag-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
}
.content01 .slideshow-container .slides .banner-text-container .banner-tag-container .banner-tag {
    background: rgba( 0, 0, 0, 0.24 ) 0% 0% no-repeat padding-box;
    border-radius: 500px;
    padding: 6px 18px;
    margin-right: 10px;
}
.content01 .slideshow-container .slides .banner-text-container .banner-tag-container .banner-tag p {
    color: #FFFFFF;
    opacity: 1;
    font-size: 18px;
}

/* Next & previous buttons */
.content01 .slideshow-container .prev,
.content01 .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.content01 .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.content01 .slideshow-container .prev:hover,
.content01 .slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
/* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */

/* The dots/bullets/indicators */
.content01 .slidedot-container .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.content01 .slidedot-container .active,
.content01 .slidedot-container .dot:hover {
    background-color: #717171;
    width: 20px;
    border-radius: 50px;
}

/* Fading animation */
.content01 .slideshow-container .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .content01 .slideshow-container .prev,
    .content01 .slideshow-container .next,
    .content01 .slideshow-container .text {
        font-size: 11px
    }
}

@media (max-width:767px) {}