.content05 .content-center {
    position: relative!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content05 .content-center .video {
    position: relative;
    float: left;
    width: 57%;
    min-height: 482px;
    height: auto;
}
.content05 .content-center .text {
    display: inline-block;
    width: 36%;
    max-width: 568px;
    text-align: right;
    margin-top: 40px;
}
.content05 .content-center .text>.text1 {
    font-size: 42px;
    font-weight: bold;
}
.content05 .content-center .text>.text2 {
    font-size: 18px;
    color: #1553FC;
}

.content06 .cs-container {
    position: relative;
    height: 360px;
    text-align: center;
}

.content06 .cs-container::before {
    content: "";
    /* background: url('./img/banner3.png'); */
    background: #1553FC;
    background-size: cover;
    opacity: 0.84;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.content06 .cs-container .text-container {
    margin: auto;
    height: 100%;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
}
.content06 .cs-container .cs-text1>b {
    font-weight: bold;
}
.content06 .cs-container .cs-text1 {
    color: #ffffff;
    font-size: 36px;
    position: relative;
    line-height: 70px;
}

.content06 .cs-container .cs-text2 {
    color: #ffffff;
    font-size: 20px;
    position: relative;
}

.content06 .cs-container .cs-button {
    margin-top: 30px;
    border-radius: 500px;
    background-color: #ffffff;
    position: relative;
    padding: 1% 2%;
    color: #1553FC;
    text-align: center;
    font-size: 18px;
}