@charset "utf-8";

.main .content03 .slideshow-container .img:nth-child(even) {
    
}
.main .content03 .slideshow-container .img:nth-child(odd) {
}
.main .content03 .slideshow-container .img {
    background-size: cover;
    width: 20rem;
    height: 27.688rem;
}
.main .content03 .slideshow-container .img01 { background: url("../img/main_pc/3_시공사례/사례1.png") no-repeat padding-box; }
.main .content03 .slideshow-container .img02 { background: url("../img/main_pc/3_시공사례/사례2.png") no-repeat padding-box; }
.main .content03 .slideshow-container .img03 { background: url("../img/main_pc/3_시공사례/사례3.png") no-repeat padding-box; }
.main .content03 .slideshow-container .img04 { background: url("../img/main_pc/3_시공사례/사례4.png") no-repeat padding-box; }
.main .content03 .slideshow-container .img05 { background: url("../img/main_pc/3_시공사례/사례5.png") no-repeat padding-box; }
.main .content03 .slideshow-container .img06 { background: url("../img/main_pc/3_시공사례/사례6.png") no-repeat padding-box; }

@keyframes moveSlideshow {
    100% { 
        transform: translateX(-66.6666%);  
    }
}

/* .content03 .slideshow-container {
    position: relative;
    margin: auto;
}
.content03 .slideshow-container .loop-slides > img {
    vertical-align: middle;
} */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
}

@media (max-width:767px) {}