@charset "utf-8";

.content03 .slideshow-container {
    /* height: 200px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0); */
}

.slideshow-container > .loop-slides {
    /* height: 200px;
    width: 2526px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
    animation: moveSlideshow 12s linear infinite; */
}

.slideshow-container > .loop-slides > img {
    width: auto;
}

@keyframes moveSlideshow {
    100% { 
        transform: translateX(-66.6666%);  
    }
}

/* .content03 .slideshow-container {
    position: relative;
    margin: auto;
}
.content03 .slideshow-container .loop-slides > img {
    vertical-align: middle;
} */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
}

@media (max-width:767px) {}