.main .content02 {
    margin-bottom: 15.188rem;
}
.main .content02 .grid01{ 
    grid-template-columns: auto auto auto; 
    grid-gap: 20px;
    margin: auto;
}
.main .content02 .grid-container {
    display: grid;
}
.main .content02 .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.main .content02 .grid-item img {
    margin-bottom: 15px;
}
.main .content02 .grid-item .review-content {
    font-size: 18px;
    text-align: left;
    color: #0C0D0D;
}
.main .content02 .grid-item .review-date {
    font-size: 16px;
    text-align: left;
    color: #1553FC;
}
.main .review-more {
    margin: 5rem auto auto auto;
    width: max-content;
    border-bottom: 1.5px solid #1553FC;
    cursor: pointer;
}
.main .review-more a {
    font-size: 18px;
}

@media screen and (max-width:1024px){
    .main .content02 {
        margin-bottom: 10.125rem;
    }
    .main .content02 .grid01{ 
        grid-template-columns: auto auto; 
        grid-gap: 20px;
        margin: auto;
    }
    .main .content02 .grid-item {
        padding: 0;
    }
    .main .review-more {
        margin: auto;
    }
}