@charset "utf-8";

.introduce{font-size: 16px;font-family: Arial;}
.introduce .content01{background: #fafafa;}
.introduce .content01 .content_wrap{padding: 5% 5% 5% 10%;display: block;}
.introduce .content01 .content_wrap .item01{font-size: 1.75em;font-weight: 600;}
.introduce .content01 .content_wrap .item02{color: #4f4f4f;font-size: 1.13em;font-weight: 500;width: 90%;padding: 20px 0 50px 0;}
.introduce .content01 .content_wrap .item03{display: inline-flex;}
.introduce .content01 .content_wrap .item03 .item03_1{width: 40%;margin: 0 auto 0 0;}
.introduce .content01 .content_wrap .item03 .item03_1>hr{display: block;height: 1px;border-color: #666666;border-style: solid;stroke-width: 1;}
.introduce .content01 .content_wrap .item03 .item03_1 .text01{color: #000000;font-size: 1.13em;font-weight: 500;text-decoration: none solid rgb(0, 0, 0);line-height: 29px;padding: 27px 0;}
.introduce .content01 .content_wrap .item03 .item03_1 .text02{font-size: 1.13em;color: #4f4f4f;text-decoration: none solid rgb(79, 79, 79);line-height: 29px;}

.introduce .content02{background: #3fc5da;box-sizing: border-box;}
.introduce .content02 .content_wrap .item01 {padding-bottom: 8%;padding-left: 5%;}
.introduce .content02 .content_wrap .item01>h1 {font-size: 1.50em;color: #fcfcfc;text-decoration: none solid rgb(252, 252, 252);line-height: 29px;text-align: right;padding: 0 65% 3% 10%;font-weight: 600;}
.introduce .content02 .content_wrap .item01 .timeline{ width: 100%;max-width: 800px;padding: 0 50px;position: relative;}

.introduce .content02 .content_wrap .item01 .timeline:before {content: "";position: absolute;top: 6px;left: calc(33% + 15px);bottom: 0px;width: 1px;background: #fff;}
.introduce .content02 .content_wrap .item01 .timeline:after {content: "";display: table;clear: both;}

.introduce .content02 .content_wrap .item01 .timeline .entry {clear: both;text-align: left;position: relative;}
.introduce .content02 .content_wrap .item01 .timeline .entry .title {color: #fff;margin-bottom: 0.5em;float: left;width: 33%;padding-right: 30px;text-align: right;position: relative;}
.introduce .content02 .content_wrap .item01 .timeline .entry .title:before {content: "";position: absolute;width: 8px;height: 8px;background-color: #fff;border-radius: 100%;top: 15%;right: -3px;z-index: 99;}
.introduce .content02 .content_wrap .item01 .timeline .entry .title h3 {margin: 0;font-size: 120%;font-size: 1.50em;font-weight: 600;}
.introduce .content02 .content_wrap .item01 .timeline .entry .title p {margin: 0;font-size: 100%;}
.introduce .content02 .content_wrap .item01 .timeline .entry .body {margin: 0 0 3em;float: right;width: 66%;padding-left: 30px;}
.introduce .content02 .content_wrap .item01 .timeline .entry .body p {color: #fff;line-height: 1.4em;font-size: 1em;}
.introduce .content02 .content_wrap .item01 .timeline .entry .body p:first-child {margin-top: 0;font-weight: 500;}
.introduce .content02 .content_wrap .item01 .timeline .entry .body ul {color: #fff;padding-left: 0;font-size: 1em;list-style-type: none;}
.introduce .content02 .content_wrap .item01 .timeline .entry .body ul li:before {content: "–";margin-right: 0.5em;}

.introduce .content02 .content_wrap{
    padding: 8% 10% 0 0;
    width: 90%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
}
.introduce .content02 .content_wrap .item02.img_wrap{display: inherit;}
.introduce .content02 .content_wrap .item02 .img{background-image:url(../mind/assets/section01_1.png);width: 347px;height: 209px;background-size:320px 209px;margin: auto 0 0 0;}


/* mobile */
@media screen and (max-width: 768px){
    .introduce .content02 .content_wrap{flex-direction: column;width: 100%;}
    .introduce .content01 .content_wrap .item03{flex-direction: column;}
    .introduce .content01 .content_wrap .item03 .item03_1{width: 90%;margin: 0 auto 40px 0;}
}