@charset "utf-8";

/* common */
html,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    font-size:100%;font:inherit;vertical-align:baseline;border:0;margin:0;padding:0;}
body{margin:0;position:relative;height:100%;line-height:1.5;overflow-x:hidden;font-size:16px;font-family:'Arial';color:#1e1e1e;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
html{height:100%;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
hr,legend{display:none;}
button{font-family:'Noto Sans KR','Malgun Gothic','dotum',sans-serif;border:none;background:none;cursor:pointer;-webkit-appearance:button;-moz-appearance:button;-ms-appearance:button;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:manipulation;touch-action:manipulation;margin:0;padding:0;outline:none;}
label{cursor:pointer;}
strong{font-weight:700;}
a{text-decoration:none;color:inherit;}
img{width:100%;height:auto;vertical-align:bottom;background-repeat: no-repeat;background-position: center;}
.img{background-repeat: no-repeat;background-position: center;}
input{font-family:'Noto Sans KR','Malgun Gothic','dotum',sans-serif;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input:disabled{opacity:1;}
textarea{font-family:'Noto Sans KR','Malgun Gothic','dotum',sans-serif;resize:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.btn{
    border: none;
    border-radius: 7px;
    background-color: #121212;
    background-size: cover;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
}
.btn .google{background-image:url(../mind/assets/googleplay_2x.png);background-size: 125px 48px;width: 115px;height: 43px;background-position: center;margin: auto;}
.btn .apple{background-image:url(../mind/assets/appstore_2x.png);background-size: 144px 48px;width: 122px;height: 43px;background-position: center;margin: auto;}
.pc{display:block!important;}
.mb{display:none!important;}

/* color */
.c-white{color: #ffffff;}
.c-alabaster{color: #fcfcfc;}
.c-alabaster{color: #fafafa;}
.c-alto{color: #d4d4d4;}
.c-silverchalice{color: #a8a8a8;}
.c-scooter{color: #3fc5da;}
.c-scooter2{color: #3ec3d8;}
.c-boulder{color: #7a7a7a;}
.c-gray{color: #666666;}
.c-emperor{color: #4f4f4f;}
.c-tundora{color : #404040;}
.c-mineshaft{color: #262626;}
.c-codgray{color: #121212;}
.c-black{color: #000000;}

#wrap{width: 100%; height: 100%;}
#header{position:fixed;top:0;left:0;width:100%;height:auto;z-index:10;-webkit-transition:top .3s;-o-transition:top .3s;transition:top .3s;}
#header.topHide{top:-120px;} /* 숨기기용 class */
#gnb{position:relative;background:#f7f7f7;margin:0 auto;height: 3.75em;}
#gnb .content_wrap{position:relative;width:100%;max-width:1300px;height:auto;margin:0 auto;padding:1% 0.3% 9px;}
#gnb .hamburger{display:none;}
#gnb .logo{float:left;margin-right:3.5%;}
#gnb .logo a{display:block;font-family:arial;font-weight:700;font-size:1em;line-height:27px;}
#gnb .logo a img{display:inline-block;width:166px;height:60px;background:#ffd700;margin:0 3px 2px 0;}
#gnb .gnb_bar{float:left;display:block;}
#gnb .depth1>li{float:left;;font-size:1em;line-height:27px;text-align:center;margin:0 20px;font-weight: 600;}

#gnb .util_bar{float:right;}
#gnb .util_bar li{float:left;font-size:1em;font-weight:500;color:#646464;line-height:27px;margin:0 20px;}
#gnb .util_bar li.account{position:relative;width:20px;height:60px;margin:4px 20px 0;}
#gnb .util_bar li.account .ico-account{display:block;position:relative;width:20px;height:60px;background:url(../img/common/ico_user.svg) center center no-repeat;}
#gnb .util_bar li.account>a{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;}
#gnb .util_bar li.account .user.desktop{display:none;position:absolute;top:31px;left:50%;width:100px;height:77px;text-align:center;background:#f7f7f7;margin-left:-50px;z-index:1;}
#gnb .util_bar li.account .user.desktop>a{display:inline-block;font-size:0.75em;line-height:15px;border-bottom:2px solid #ffd700;margin:12px 0 8px 0;padding-bottom:2px;}
#gnb .util_bar li.account .user.mobile{display:none;}
#gnb .util_bar li.basket{position:relative;width:20px;height:20px;margin:4px 0 0 20px;}
#gnb .util_bar li.basket .ico-basket{display:block;position:relative;width:20px;height:20px;background:url(../img/common/ico_basket.svg) center center no-repeat;}
#gnb .util_bar li.basket>a{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;}
#gnb .util_bar li.basket.active:after{content:'';position:absolute;bottom:0;right:-5px;width:10px;height:10px;background:#ffd700;border:1px solid #fff;border-radius:50%;-webkit-box-shadow:0 3px 6px 0 rgba(255, 200, 0, 0.3);box-shadow:0 3px 6px 0 rgba(255, 200, 0, 0.3);}

.box_wrap {display: flex;}
.box {display: inline-block;width: 40%;}
.box .img{width: 60%;height: 599px;background-size:100% auto;}
.box .text_wrap .text01 { font-weight: bold;font-size: 1.56em;color: #3ec3d8;text-decoration: none solid rgb(62, 195, 216);line-height: 71px;}
.box .text_wrap .text02 {font-weight: bold;font-size: 2.4em;color: #000000;text-decoration: none solid rgb(0, 0, 0);line-height: 71px;}
.box .btn_wrap .btn {width: 213px;height: 78px;font-size: 1.25em;margin-top: 4em;}
.item_left_text{margin: 5% 0 0 222px;}
.item_right_img{padding: 5% 0 7% 10%;}
.item_right_text{margin: 5% 0 0 222px;padding-right: 10%;}
.item_left_img{padding: 5% 0 7% 10%;}

#container{position:relative;width:auto;min-height:100%;margin:0 0 -350px;}
#container #contents{width:auto;height:auto;padding:38px 0 350px;} /* 비로그인시 헤더 높이 + 100px */

/* content01 */
.content01 {width: 100%;height: auto;background: #3fc5da;}
.main .content01 .img_wrap{padding: 92px 0 14px 0;}
.main .content01 .img{background-image:url(../mind/assets/section01_1.png);width: 218px;height: 182px;background-size:218px 182px;margin: auto;}
.main .content01 .text_wrap{font-size: 1.56em;color: #ffffff;text-decoration: none solid rgb(255, 255, 255);line-height: 35px;text-align: center;margin: auto;font-weight: 500;}
.main .content01 .btn_wrap {width: fit-content;margin: auto;padding: 34px 0 75px 0;}
.main .content01 .btn_wrap .btn {margin: 0 10px;width: 123px;height: 45px;}

/* content02 */
.main .content02 {width: 100%;height: auto;background: #fafafa;padding: 8% 0;}
.main .content02 .text_wrap {font-size: 2.06em;line-height: 61px;text-align: center;font-weight: bold;}
.main .content02 .text01 {color: #000000;text-decoration: none solid rgb(0, 0, 0);}
.main .content02 .text02 {color: #3ec3d8;text-decoration: none solid rgb(62, 195, 216);}
.main .content02 .img_wrap{padding: 2% 5% 0; display: flex;}
.main .content02 .img{background-image:url(../mind/assets/section02_1.png);width: 170px;height: 142px;background-size:170px 142px;margin: auto;border-radius: 90px;}

/* content03 */
.main .content03 {}
.main .content03 .item01 {}
.main .content03 .item02 {}
.main .content03 .item02 .img{background-image:url(../mind/assets/section03_1.png);}

/* content04 */
.main .content04 .item02 {/* margin: 169px 222px 0 0 ; */float: right;text-align: right;}
.main .content04 .item01 .img{background-image:url(../mind/assets/section03_1.png);}

/* content05 */
.main .content05 .item01 {}
.main .content05 .item02 .img_wrap{}
.main .content05 .item02 .img{background-image:url(../mind/assets/section03_1.png);}


/* content06 */
.main .content06 {background: #fafafa;padding: 3% 0 6%;}
.main .content06 .item_wrap .item01 .text {font-size: 2.19em;color: #000000;text-decoration: none solid rgb(0, 0, 0);line-height: 52px;text-align: center;}
.main .content06 .item_wrap .item01 .text span {color: #3ec3d8;text-decoration: none solid rgb(62, 195, 216);}
.main .content06 .item_wrap .item02 .item02_wrap {margin: 0 auto;display: table;}
.main .content06 .item_wrap .item02 .item02_wrap .item02_1 {display: table-cell;padding: 36px;}
.main .content06 .item_wrap .item02 .item02_wrap .item02_1 .img_wrap{padding: 20px 0 40px 0;}
.main .content06 .item_wrap .item02 .item02_wrap .item02_1 .img_wrap .img{background-image:url(../mind/assets/section02_1.png);width: 170px;height: 142px;background-size:170px 142px;border-radius: 90px;margin: auto;}
.main .content06 .item_wrap .item02 .item02_wrap .item02_1 .text_wrap01{text-align: center;font-weight: 500;font-size: 24px;color: #000000;text-decoration: none solid rgb(0, 0, 0);line-height: 30px}
.main .content06 .item_wrap .item02 .item02_1 .text_wrap02{text-align: center;font-size: 1.13em;padding: 20px 0;color: #000000;text-decoration: none solid rgb(0, 0, 0);line-height: 30px;}

/* footer */
#mind_footer {height: 350px;background: #404040;} 
#mind_footer .content_wrap{position:relative;width:100%;max-width:1300px;height:auto;margin:0 auto;padding: 35px 0 26px 0;}
#mind_footer .content_wrap .footer_link {}
#mind_footer .content_wrap .footer_link ul {list-style: none;padding-left: 0;margin: 0;}
#mind_footer .content_wrap .footer_link ul>li {display: inline-block;position: relative;/* margin: 0 -4px; */padding: 0 1.1% 0 0;}
#mind_footer .content_wrap .footer_link ul>li>a {font-weight: 600;font-size: 1em;color: #d4d4d4;text-decoration: none solid rgb(212, 212, 212);line-height: 31px}
#mind_footer .content_wrap .footer_sns {margin: 5px 0;}
#mind_footer .content_wrap .footer_sns .text01 {font-weight: 500;font-size: 1em;color: #d4d4d4;text-decoration: none solid rgb(212, 212, 212);line-height: 31px;}
#mind_footer .content_wrap .footer_sns .btn_wrap {width: fit-content;}
#mind_footer .content_wrap .footer_sns .btn_wrap .btn {margin: 0 20px 0 0;width: 123px;height: 45px;}
#mind_footer .content_wrap .footer_info {margin: 10px 0;font-weight: 500;font-size: 1em;color: #a8a8a8;text-decoration: none solid rgb(168, 168, 168);line-height: 26px}
#mind_footer .content_wrap .copyright {font-size: 0.75em;color: #a8a8a8;text-decoration: none solid rgb(168, 168, 168);line-height: 31px;}

/* mobile */
@media screen and (max-width: 768px){
    .pc{display:none!important;}
    .mb{display:inline-block!important;}
    body{font-size: 10px;}

    #gnb .depth1>li{margin: 0 0 0 7px;}
    /* #gnb .util_bar li{margin: 0 0 0 7px;} */

    .main .box_wrap{display: block;}
    .main .box_wrap .box {width: 100%;padding: 3% 14%;}
    .main .box .text_wrap .text02{line-height: 50px;}
    .main .box .img{width: 100%;height: 500px;}
    .main .box .btn_wrap .btn{width: 120px;height: 45px;}

    .main .item_left_text{margin: auto;display: block;}
    .main .item_right_img{padding: 5% 0 10% 10%;}
    .main .item_right_text{margin: 5% 0 0 222px;}
    .main .item_left_img{padding: 5% 0 10% 10%;}

    .main .content06 .item_wrap .item02{overflow-x: scroll;width: 100%;}
    .main .content06 .item_wrap .item02 .item02_1 .text_wrap02{line-height: 20px;}
    .main .content06 .item_wrap .item02 .item02_wrap{display: grid;}
    .main .content06 .item_wrap .item02 .item02_wrap .item02_1{padding: 10px;}

    #mind_footer .content_wrap {padding: 5%}
}