@charset "utf-8";

.service{font-size: 16px;font-family: Arial;}

.service .content01{background-color: #fafafa;}
.service .content01 .content_wrap{padding: 9% 5% 5% 10%;display: block;}
.service .content01 .content_wrap .text_wrap .text01{font-size: 2.06em;color: #000000;text-decoration: none solid rgb(0, 0, 0);line-height: 46px;font-weight: 600;text-align: center;margin-bottom: 10px;}
.service .content01 .content_wrap .text_wrap .text02{font-size: 1.38em;color: #3fc5da;text-decoration: none solid rgb(63, 197, 218);line-height: 31px;font-weight: 600;text-align: center;}
.service .content01 .content_wrap .img_wrap{padding: 4% 5% 0; display: flex;}
.service .content01 .content_wrap .img{background-image:url(../mind/assets/section02_1.png);width: 170px;height: 142px;background-size:170px 142px;margin: auto;border-radius: 90px;}


.service .content02 .content_wrap{padding: 5% 15%;}
.service .content02 .content_wrap .text_wrap>h1{font-size: 1.75em;color: #000000;text-decoration: none solid rgb(0, 0, 0);line-height: 34px;font-weight: 600;margin-bottom: 20px;}
.service .content02 .content_wrap .text_wrap>h3{font-size: 1.13em;color: #4f4f4f;text-decoration: none solid rgb(79, 79, 79);line-height: 34px;margin: 17px 0;font-weight: 500;}

.service .content03 .content_wrap{padding: 0 15% 5%;}
.service .content03 .content_wrap>h1{font-size: 1.8em;color: #4f4f4f;text-decoration: none solid rgb(79, 79, 79);line-height: 34px;text-align: center;font-weight: 600;margin: 11% 0 7%;}
.service .content03 .content_wrap hr{display: block;height: 1px;border-color: #666666;border-style: solid;stroke-width: 1;}
.service .content03 .content_wrap .item_wrap{display: flex;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;}
.service .content03 .content_wrap .item_wrap .item{width: 228px;}
.service .content03 .content_wrap .item_wrap .item .item01 .img_wrap{display: flex;}
.service .content03 .content_wrap .item_wrap .item .item01 .img{background-image:url(../mind/assets/section01_1.png);width: 228px;height: 228px;background-size:255px 228px;margin: auto;}
.service .content03 .content_wrap .item_wrap .item .item02{font-size: 1.50em;color: #4f4f4f;text-decoration: none solid rgb(79, 79, 79);line-height: 34px;text-align: center;font-weight: 600;margin: 15% 0 8%;}
.service .content03 .content_wrap .item_wrap .item .item03{font-size: 1.12em;color: #787878;text-decoration: none solid rgb(120, 120, 120);line-height: 34px;text-align: center;font-weight: 500;}

.service .content04 .content_wrap{padding: 0 15% 5%;}
.service .content04 .content_wrap hr{display: block;height: 1px;border-color: #666666;border-style: solid;stroke-width: 1;}
.service .content04 .content_wrap .text_wrap>h1{font-size: 1.75em;color: #000000;text-decoration: none solid rgb(0, 0, 0);line-height: 34px;font-weight: 600;margin: 12% 0 3%;}
.service .content04 .content_wrap .text_wrap>h2{font-size: 1.13em;color: #4f4f4f;text-decoration: none solid rgb(79, 79, 79);line-height: 34px;font-weight: 500;margin-bottom: 20px;}
.service .content04 .content_wrap .item_wrap{display: flex;flex-wrap: nowrap;justify-content: center;margin-top: 8%;}
.service .content04 .content_wrap .item_wrap .item01 .item01_1 .img_wrap{display: flex;}
.service .content04 .content_wrap .item_wrap .item01 .item01_1 .img{background-image:url(../mind/assets/mission_icon.png);width: 86px;height: 96px;background-size:86px 96px;margin: auto;}
.service .content04 .content_wrap .item_wrap .item01 .item01_2{font-size: 1.13em;color: #4f4f4f;text-decoration: none solid rgb(79, 79, 79);line-height: 34px;text-align: center;margin: 45px 0 0;}
.service .content04 .content_wrap .item_wrap .item02{font-size: 2.56em;color: #4f4f4f;text-decoration: none solid rgb(79, 79, 79);line-height: 34px;text-align: center;font-weight: 900;margin: auto 5%;}

.service .content05 .content_wrap{padding: 0 15% 5%;}
.service .content05 .content_wrap hr{display: block;height: 1px;border-color: #666666;border-style: solid;stroke-width: 1;}
.service .content05 .content_wrap .text_wrap>h1{font-size: 1.75em;color: #000000;text-decoration: none solid rgb(0, 0, 0);line-height: 35px;font-weight: 600;margin: 12% 0 3%;}
.service .content05 .content_wrap .text_wrap>h2{font-size: 1.13em;color: #4f4f4f;text-decoration: none solid rgb(79, 79, 79);line-height: 34px;font-weight: 500;margin-bottom: 20px;}
.service .content05 .content_wrap .img_wrap{display: flex;}
.service .content05 .content_wrap .img{background-image:url(../mind/assets/img_stress.png);width: 215px;height: 215px;background-size:190px 215px;margin: 0 0 0 auto;}

/* mobile */
@media screen and (max-width: 768px){

    .service .content03 .content_wrap .item_wrap{display: flex;flex-direction: column;}
    .service .content03 .content_wrap .item_wrap .item{margin: 20px auto;}

    .service .content04 .content_wrap .text_wrap>h1{margin-bottom: 20px;}
    .service .content04 .content_wrap .item_wrap{display: flex;flex-direction: column;}
    .service .content04 .content_wrap .item_wrap .item01{margin: 20px auto;}
    .service .content04 .content_wrap .item_wrap .item01 .item01_2{margin: 18px 0 0;}

    .service .content05 .content_wrap .text_wrap>h1{margin-bottom: 20px;}
}