:root {
    --content-width: 1000px;
}

.popup002 .content01 {
    height: 880px;
    width: 100%;
    padding: 120px 0 110px 0;
    text-align: center;
    background: #16181C;
}
.popup002 .content01-warp,.content02-warp,.content03-warp  {
    width: var(--content-width);
    margin: auto;
}
.popup002 .content01::before {
    background: #16181C;
    background-size: cover;
    opacity: 0.92;
    position: absolute;
}
.popup002 .content01 .logo {}
.popup002 .content01 .item01 {
    margin-top: 36px;
    margin-bottom: 81px;
}
.popup002 .content01 .item01 h1 {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
}
.popup002 .content01 .item01 p {
    font-size: 24px;
    color: #929598;
}
.popup002 .content01 hr {
    display: block;
    background: #FFFFFF;
    opacity: 0.25;
}
.popup002 .content01 .item02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 43px;
    margin-bottom: 88px;
}
.popup002 .content01 .item02 .text-box {}
.popup002 .content01 .item02 .text-box .text01 {
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 18px;
}
.popup002 .content01 .item02 .text-box .text02 {
    color: #929598;
    font-size: 20px;
}
.popup002 .content01 button {
    width: 440px;
    height: 83px;
    background: #1553FC;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 24px;
}


.popup002 .content02 {
    padding-top: 23px;
    padding-bottom: 120px;
}
.popup002 .content02 .content02-warp {
    width: var(--content-width);
    margin: auto;
}
.popup002 .content02 .item01 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 168px;
    margin-bottom: 41px;
}
.popup002 .content02 .item01 .text01 {
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    color: #0C0D0D;
}
.popup002 .content02 .item01 .text01 span {
    color: #1553FC;
}
.popup002 .content02 .item01 .text02 {
    font-size: 24px;
    text-align: left;
    color: #929598;
    width: 600px;
}
.popup002 .content02 div.img {
    width: 600px;
    margin-left: auto;
    display: block;
    border-radius: 10px;
}

.popup002 .content03 {
    width: 100%;
    text-align: center;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    padding-top: 80px;
}
.popup002 .content03 .content03-warp {
    width: var(--content-width);
    margin: auto;
}
.popup002 .content03 .magnifying-glass {
    background: transparent url('../img/002_05.png') no-repeat padding-box;
    background-size: cover;
    width: 88px;
    height: 88px;
    margin: auto;
    margin-bottom: 33px;
    display: block;
}
.popup002 .content03 .item01 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: -0.72px;
}
.popup002 .content03 .item02 {
    font-size: 24px;
    color: #929598;
    margin-bottom: 20px;
}
.popup002 .content03 .item03 {
    width: 1067px;
    height: 600px;
    background: transparent url('../img/002_04.png') 0% 0% no-repeat padding-box;background: transparent url(../img/002_04.png) no-repeat;
    background-size: cover;
}

@media screen and (max-width:1024px){
    
}
@media screen and (max-width:768px){

}