.popup002-2 {}
.popup002-2 .content01 {
    text-align: center;
    padding-top: 7.813rem;
    padding-bottom: 12.5rem;
}
.popup002-2 .content01 .item01 {
    margin-bottom: 5.063rem;
}
.popup002-2 .content01 .item02 {
    grid-template-columns: auto auto; 
    grid-gap: 1.25rem;
    margin: auto;
    display: grid;
    padding: 10px;
    /* margin-bottom: 20px; */
}
.popup002-2 .content01 .item02 .select-item {
    border-radius: 6px;
    background: #F7F7F7;
    text-align: center;
    color: #929598;
    font-size: 1.5rem;
    height: 7.188rem;
    line-height: 7.188rem;
}
.popup002-2 .content01 .item02 .select-item.active {
    background: #F4F7FF;
    border: 2px solid #1553FC;
    color: #1553FC;
}

@media screen and (max-width:1024px){
    
}
@media screen and (max-width:768px){
    .popup002-2 .content01 {
        padding-top: 7.813rem;
        padding-bottom: 7.5rem;
    }
    .popup002-2 .content01 .item01 {
        margin-bottom: 3.813rem;
    }
    .popup002-2 .content01 .item02 {
        grid-template-columns: auto;
    }
    .popup002-2 .content01 .item02 .select-item {
        height: 4rem;
        line-height: 4rem;
        font-size: 1rem;
    }

}