.popup002-3 .content01 {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 200px;
}
.popup002-3 .content01 .item01 {
    margin-bottom: 81px;
}
/* 
.popup002-3 .item02 .form-item { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 42px 0;
}
.popup002-3 .item02 .form-item label { 
    font-size: 24px;
    text-align: left;
    color: #0C0D0D;
    letter-spacing: -0.48px;
    width: 15%;
}
.popup002-3 .item02 .form-item select {
    padding: 20px;
    background: #F7F7F7;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E0E0E0;
}
.popup002-3 .item02 .form-item select,input { 
    width: 85%;
    height: 69px;
    font-size: 20px;
}
.popup002-3 .item02 .form-item input.form-input { 
    padding: 0.9rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E0E0E0;
}
.popup002-3 .item02 .form-item input.form-input:focus { 
    outline: none;
}
.popup002-3 .item02 .form-item input.form-input::placeholder { 
    font-size: 1.2rem;
    color: #E0E0E0;
} */
.popup002-3 .content01 .item03 .text01 {
    text-align: left;
    color: #929598;
    font-size: 16px;
    margin-bottom: 40px;
}